* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

header {
    background: #111;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #bbb;
}
@media(max-width: 768px) {

    .skills,
    .projects {
        flex-direction: column;
        align-items: center;
    }
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00adb5;
    margin-bottom: 15px;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, #233d7a, #222831);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content {
    animation: fadeIn 1.5s ease-in-out;
}

/* Hover Effect */
.profile-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.3rem;
    margin: 10px 0 20px;

    color: #eeeeee;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 25px;
    margin: 5px;
    background: white;
    color: #00adb5;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #222831;
    color: white;
}

.btn-outline {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.btn-outline:hover {
    background: white;
    color: #00adb5;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}